.sidebarR {
  width: 300px;
}

.memo {
  background-color: var(--box-content-color);
  padding: 15px;
  line-height: 17px;
  font-size: 13px;
  border: 1px solid rgb(241, 229, 188);
  border-left: 0px;
  border-right: 0px;
}

.ul > * {
  list-style-type: none;
}

.memoTitle {
  background-color: var(--yellow-100);
  padding: 15px;
  border-bottom: 0px;
  font-size: 13px;
  font-weight: 800;
}

.shadow {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  border: 1px solid rgb(241, 229, 188);
  border-bottom: 0px;
  border-radius: 3px;
}

.em {
  font-style: italic;
  color: var(--text-sub-color);
}

.li {
  display: flex;
  margin-bottom: 13px;
  align-items: flex-start;
}

.pencil {
  flex: 0 0 22px;
  height: 15px;
  color: #232629;
}

.chat {
  color: var(--btn-primary-bg-color);
  flex: 0 0 15px;
  height: 15px;
  padding-right: 7px;
}

.logoImg {
  flex: 0 0 22px;
  height: 13px;
}
@media screen and (min-width: 981px) {
  .sidebarR {
    margin-left: 25px;
  }
}
@media screen and (max-width: 980px) {
  .sidebarR {
    width: calc(100% - 2rem);
    margin: 1.3rem auto 0 auto;
  }
}
