.answer {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  color: var(--text-head-color);
}

.total {
  font-weight:400 ;
  font-size: 1.46153846rem;
}

.post::after {
  content: ' ';
  background-color: var(--text-sub-color);
  height: 1px;
  display: block;
}
