.headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 49px;
}
.title {
  font-size: 1.68rem;
  line-height: 2rem;
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 1.37rem;
  }
}
