.headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.title {
  font-size: 1.68rem;
  line-height: 2.2rem;
  font-weight: 500;
  width: calc(100% - 120px);
}

@media screen and (max-width: 640px) {
  .detail {
    flex-direction: column-reverse;
  }
  .detail button {
    margin: 0 0 0.5rem auto;
  }
  .title {
    font-size: 1.37rem;
  }
}
