.mainbar {
  flex: 1;
}
.info {
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
  background-color: var(--box-content-color);
  border: 1px solid var(--yellow-300);
  margin-bottom: 0.5rem;
}
.info dt {
  margin-bottom: 0.6rem;
}
.form {
  width: 100%;
}
.blue {
  color: var(--blue);
}
.btnWrap {
  margin-top: 1.5rem;
}
@media screen and (min-width: 981px) {
  .mainbar {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 1.5rem;
  }
  /* layout */
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .mainbar {
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 640px) {
  .mainbar {
    padding: 0.5rem 1rem;
  }
}
