#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: var(--black-025);
}

.container {
  width: 90%;
  max-width: 1264px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: 1rem;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.logoImg {
  transform: scale(0.9);
}

.searchBar {
  margin: 0 1rem;
  padding: 6px 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid var(--black-600);
  border-radius: 4px;
  background-color: var(--white);
}
.searchIco {
  margin-right: 4px;
  color: var(--black-600);
}
.searchBar input {
  width: 100%;
  border: 0;
}
.searchBar input:focus {
  outline: 0;
}

.menubar {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
