.answerEdit {
  color: var(--text-content-color);
  font-size: 15px;
  line-height: 1.5;
}

.memo {
  background-color: var(--box-content-color);
  border: 1px solid hsl(47, 69%, 69%);
  border-radius: 3px;
  font-size: 13px;
  padding: 16px;
  line-height: 1.5;
}

.memoTitle {
  padding-bottom: 13px;
}

.btn {
  margin: 25px 0px;
}

.cancelBt {
  background-color: rgba(255, 255, 255, 0);
  color: var(--btn-primary-bg-color);
}

.cancelBt:hover {
  background-color: var(--blue-100);
}

.memo2 {
  background-color: var(--box-content-color);
  padding: 15px;
  line-height: 2;
  border-radius: 0px 0px 3px 3px;
  font-size: 13px;
  border: 1px solid rgb(241, 229, 188);
}

.ul > * {
  list-style-type: disc;
  margin-left: 15px;
}

.memoTitle2 {
  background-color: var(--yellow-100);
  border-radius: 3px 3px 0px 0px;
  padding: 15px;
  border: 1px solid rgb(241, 229, 188);
  border-bottom: 0px;
  font-size: 13px;
}

.shadow {
  width: 300px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
}

.title {
  font-size: 17px;
  color: var(--blue);
  margin: 16px 0px;
}

.body {
  font-size: 16.5px;
}

.answer {
  font-size: 19px;
  font-weight: 400;
  margin: 16px 0px;
}

.summary {
  margin: 10px 0px;
}

.input {
  width: 97.5%;
  padding: 7.8px 9.1px;
  border: 1px solid var(--black-200);
  border-radius: 3px;
}

.input::placeholder {
  color: var(--black-200);
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px hsla(206, 100%, 40%, 15);
}

.view {
  margin: 10px 0px;
}

@media (max-width: 640px) {
  .title {
    font-size: 14.3px;
  }
}

@media (min-width: 980px) {
  .answerEdit {
    display: flex;
  }
  .modal {
    flex: 0 0 auto;
    width: 300px;
    margin-left: 24px;
  }
  .shadow {
    position: fixed;
  }
}
