.comment {
  padding-left: 52px;
  position: relative;
}
.comment button {
  color: var(--black-300);
}

.alertBox {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  position: absolute;
  left: 170px;
  top: 0.6rem;
  background-color: var(--blue);
}
.alertBox:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-color: transparent;
  border-top-color: var(--blue-600);
  border-style: solid;
  border-width: 9px;
  left: -9px;
  top: 0;
}
.ment {
  color: white;
  font-size: 0.81rem;
  line-height: 1.5rem;
}
.underline {
  text-decoration: underline;
}
.btnClose {
  padding: 0;
  display: flex;
  margin-left: 1rem;
}
.btnClose:hover {
  background-color: white;
}
.btnClose:hover .icon * {
  stroke: var(--blue-600);
}
.icon {
  font-size: 1.3rem;
}
.icon * {
  stroke: white;
}
