.link > * {
  color: var(--text-sub-color);
}

.link {
  padding: 10px 8px;
}

.link:hover > * {
  color: var(--text-active-color);
}

.select {
  background-color: var(--black-050);
  font-weight: 800;
  color: var(--text-active-color);
  border-right: 3px solid var(--brand-color);
  padding: 10px 8px;
}

.ul li:nth-child(2) {
  padding: 10px 8px;
  font-size: 11px;
}

.icon {
  padding-right: 4px;
  width: 16px;
  height: 16px;
}

.ul :nth-child(n + 4):nth-child(-n + 6) {
  padding-left: 28px;
}

.iconLink {
  display: flex;
}
