.question {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.summary {
  display: grid;
  align-content: start;
  text-align: right;
  gap: 0.8rem;
  min-width: 110px;
  font-size: 0.81rem;
}
.vote {
  color: var(--text-active-color);
}
.answers,
.views {
  color: var(--text-sub-color);
}

.postWrap {
  flex-grow: 1;
  margin-left: 1rem;
}
.post {
  margin-bottom: 0.5rem;
}
.title {
  margin-bottom: 0.4rem;
}
.title * {
  font-size: 1.1rem;
  line-height: 1.2rem;
  color: var(--text-link-color);
}
.title *:hover {
  color: var(--text-link-hover);
}
.body {
  font-size: 0.81rem;
  line-height: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.summaryBottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tags button:not(:first-of-type) {
  margin-left: 0.3rem;
}

.user,
.profile {
  display: flex;
  align-items: center;
}
.img {
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 0.2rem;
}
.img img {
  width: 100%;
  border-radius: inherit;
}
.name {
  color: var(--text-link-color);
}
.name:hover {
  color: var(--text-link-hover);
}
.name,
.answer,
.date {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
.date {
  color: var(--text-sub-color);
}
