.preview {
  font-size: 15px;
  line-height: 1.5;
  overflow-wrap: break-word;
  margin-top: 20px;
}

.preview h1 {
  font-size: 2em;
  font-weight: 800;
}

.preview h2 {
  font-size: 1.6em;
  font-weight: 800;
}

.preview em {
  font-style: italic;
}

.preview a {
  color: rgb(0, 116, 204);
  text-decoration-line: underline;
}

.preview blockquote {
  color: hsl(210, 8%, 35%);
  margin: 2px 0px;
  padding: 0px 0px 0px 1em;
  position: relative;
}

.preview blockquote:before {
  background-color: hsl(210, 8%, 80%);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

.preview ol,
.preview ul {
  margin: 1em 0px 1em 20px;
  padding-left: 20px;
}

.preview ul li {
  list-style: disc;
  overflow-wrap: break-word;
}

.preview ol li {
  list-style: decimal;
  overflow-wrap: break-word;
}

.preview code {
  font-size: var(--_pr-code-fs);
  font-family: var(--ff-mono);
}

.preview img {
  max-width: 100%;
  vertical-align: bottom;
}

.preview code {
  background-color: rgb(240, 240, 240);
  border-radius: 3px;
  font-size: 13px;
  padding: 1px 4px;
}
