.inputWrap {
  display: flex;
}
.inputBox:not(.editVer) {
  padding: 1.5rem;
  background-color: var(--bg-color);
  margin-top: 1rem;
  border: 1px solid var(--sort-bg-active);
  box-sizing: border-box;
}
.title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 0.93rem;
}
.para {
  margin: 0.3rem 0 0.5rem;
  font-size: 0.75rem;
}
.input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
}
.input::placeholder {
  color: var(--border-color);
}
.input:focus {
  outline: none;
  border-color: var(--btn-primary-bg-color);
  box-shadow: 0 0 4px var(--btn-sub-bg-hover);
}

@media screen and (min-width: 1101px) {
  .inputWrap {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .inputBox {
    width: 70%;
  }
}
@media screen and (min-width: 641px) and (max-width: 1100px) {
  .inputWrap {
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .inputWrap {
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
  .title {
    font-size: 0.75rem;
  }
  .para {
    margin: 0.5rem 0 0.8rem;
    font-size: 0.75rem;
    line-height: 0.9rem;
  }
}
